<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OK Clean Laundry Website Project</title>
    <link rel="stylesheet" href="style.css"
</head>
<body>
    <section id="header">
        <div class="banner">
            <div class="navbar">
            <a href="#"><img src="logo1.png" class="logo" alt=""></a>
            <ul>
                <li><a href="web.html">Beranda</a></li>
                <li><a href="layanan.html">Layanan</a></li>
                <li><a href="antarjemput.html">Antar/Jemput</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="daftar.html">Daftar</a></li>
            </ul>
            </div>
        </div>
    </section>

    <script src="app.js"></script>

</body>
</html> 